#career-cards-area {
  height: 100vh;
  @include DisplayJustifyAlign;
  flex-direction: column;

  .career-cards-area-title {
    margin-bottom: 50px;

    h2 {
      color: $color2;
      margin: 0;
      font-size: 3rem;
      text-transform: uppercase;
    }
  }
  .card-display {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 900px;
    height: 60%;
    gap: 20px;

    .box {
      border-radius: 20px;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.393);
      height: 100%;
      width: 110px;
      position: relative;
      transition: 0.3s ease;
      &:hover {
        .year {
          opacity: 1;
          transform: translateY(-50px);
        }
        .hback {
          opacity: 0.5;
        }
      }
    }
    .box2017 {
      background: url(../../images/Freelance-Lucas.webp) center/cover;
    }
    .box2019 {
      background: url(../../images/Logo\-Ikea.webp) center/cover;
    }
    .box2021 {
      background: url(../../images/Logo-Alive.webp) center/cover;
    }
    .box2023 {
      background: url(../../images/Logo-ECCL.webp) center/cover;
    }
    .box2024 {
      background: url(../../images/Logo-MNS.png) center/cover;
    }
    .hback {
      width: 110px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 32%,
        rgba(0, 0, 0, 1) 100%
      );
      opacity: 0;
      transition: 0.3s ease;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 20px;
    }

    .year,
    .title {
      height: 23px;
      margin: 0;
      width: 110px;
      text-align: center;
      position: absolute;
      bottom: 0;
      transition: 0.3s ease;
      color: $color2;
      letter-spacing: 2px;
      opacity: 0;
      transform: translateY(0px);
    }
    .title {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 800;
      width: 95%;
      text-align: right;
    }

    .input {
      display: none;

      &:checked + label {
        .box {
          width: 600px;
        }
        .hback {
          opacity: 0.5;
          width: 600px;
        }
        .year {
          width: 110px;
        }
        .year,
        .title {
          opacity: 1;
          transform: translateY(-50px);
        }
      }
    }
  }
  @media screen and (max-width: 1050px) {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    margin-bottom: 40px;

    .career-cards-area-title {
      text-align: center;
      margin: 50px 0;
      h2 {
        font-size: 1.8rem;
      }
    }

    .card-display {
      margin: 0 auto;
      height: 100%;
      width: 80%;
      flex-direction: column;
      .box {
        height: 110px;
        width: 100%;
        .hback {
          width: 100%;
        }
      }
      .input {
        &:checked + label {
          .box {
            width: 100%;
            height: 250px;
          }
          .hback {
            opacity: 0.5;
            width: 100%;
            height: 250px;
          }
          .year,
          .title {
            height: 20px;
            opacity: 1;
            transform: translateY(-50px);
          }
        }
      }
    }
  }
}
