.contact-area {
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact-container {
    height: 70%;
    max-height: 600px;
    width: 80%;
    max-width: 1100px;
    background-color: whitesmoke;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas:
      "a b"
      "c c";
    overflow: hidden;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      .text-area {
        display: grid;
        grid-template-columns: 10% 90%;
        width: 85%;
        border-radius: 40px;
        color: white;
        background: #0d0c14;
        font-size: 1.7rem;
        .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #0d0c14;
          border-radius: 30px;
          margin: 10px;
          background-color: whitesmoke;
          height: 50px;
          width: 50px;
        }
        p {
          width: 100%;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .telephone-container {
      grid-area: a;
      p {
        letter-spacing: 2px;
      }
    }
    .email-container {
      grid-area: b;
    }
    .form-container {
      grid-area: c;
      background-color: green;
    }
  }
}
