#contact-area {
  .coordinates-area {
    max-width: 1200px;
    margin: auto;
    display: flex;
    .container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 30%;
      min-width: 550px;
      margin: 60px auto 30px auto;
      .text-area {
        display: grid;
        transition: 0.2s ease;
        grid-template-columns: 10% 90%;
        width: 85%;
        border-radius: 40px;
        color: $color1;
        background: $color2;
        border: 1px solid $color2;
        font-size: 1.5rem;
        cursor: pointer;
        .icon-container {
          @include DisplayJustifyAlign;
          color: $color1;
          border-radius: 30px;
          margin: 10px;
          background-color: $color2;
          height: 50px;
          width: 50px;
          font-weight: 900;
          font-size: 1.9rem;
        }
        span {
          margin: 0;
          letter-spacing: 2px;
          @include DisplayJustifyAlign;
        }
        p {
          text-align: center;
          margin: auto;
          letter-spacing: 2px;
          @include DisplayJustifyAlign;
        }
        &:hover {
          color: $color2;
          background: $color1;
        }
      }
    }
  }
  .form-area {
    @include DisplayJustifyAlign;
    form {
      margin: 30px;
      min-height: 600px;
      .not-available {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.903);
        height: 100%;
        width: 100%;
        @include DisplayJustifyAlign;
        p {
          width: 80%;
          font-size: 1.7rem;
          text-align: center;
          letter-spacing: 5px;
          a {
            font-weight: bold;
            font-style: oblique;
            color: $color2;
            text-decoration: none;
            transition: 0.2s ease;
          }
          a:hover {
            color: lightblue;
          }
        }
      }
      position: relative;
      overflow: hidden;
      max-height: 650px;
      width: 80%;
      max-width: 1100px;
      background-color: rgba(255, 255, 255, 0);
      backdrop-filter: blur(2px);
      color: $color2;
      border: 1px solid $color2;
      transition: 0.5s ease;
      border-radius: 50px;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 20% 20% 45% 15%;
      grid-template-areas:
        "a a a"
        "b b b"
        "c c c"
        "d d d";
      fieldset {
        padding: 0;
        border: none;
        @include DisplayJustifyAlign;
        legend {
          text-align: center;
          font-size: 1.3rem;
          font-weight: 600;
        }
        input {
          padding: 10px;
          border: 1px solid $color2;
          border-radius: 40px;
          font-size: 1.1rem;
        }
      }
      .form-part-1 {
        grid-area: a;
        justify-content: space-evenly;
        legend {
          padding-top: 20px;
        }
        input {
          text-align: center;
          width: 25%;
        }
      }
      .form-part-2 {
        grid-area: b;
        .form-part-2-container {
          border: 1px solid $color2;
          border-radius: 40px;
          background-color: rgb(255, 255, 255);
          font-size: 1.1rem;
          min-width: 300px;
          width: 30%;
          display: flex;
          justify-content: space-evenly;
          text-align: center;
          overflow: hidden;
          label {
            cursor: pointer;
            width: 34%;
            transition: 0.2s ease;
            margin: 0;
            padding: 10px;
            color: $color1;
          }
          input {
            display: none;
            &:checked + label {
              color: $color2;
              background-color: $color1;
            }
          }
        }
      }
      .form-part-3 {
        grid-area: c;
        textarea {
          height: 70%;
          width: 80%;
          padding: 25px;
          border: 1px solid $color2;
          border-radius: 40px;
          font-size: 1.1rem;
          resize: none;
        }
      }

      .form-part-4 {
        grid-area: d;
        input {
          min-width: 300px;
          width: 30%;
          transition: 0.2s ease;
          text-transform: uppercase;
          cursor: pointer;
          &:hover {
            color: $color2;
            background-color: $color1;
          }
        }
      }
    }
  }
  .valid {
    animation: validate 2s ease;
  }
  @keyframes validate {
    0% {
      border: 1px solid green;
    }
    100% {
      border: 1px solid $color2;
    }
  }
  .notvalid {
    animation: notvalidate 2s ease;
  }
  @keyframes notvalidate {
    0% {
      border: 1px solid red;
    }
    100% {
      border: 1px solid $color2;
    }
  }
  @media screen and (max-width: 1200px) {
    .coordinates-area {
      display: block;
      .container {
        margin: 30px auto;
      }
    }
  }
  @media screen and (max-width: 650px) {
    .coordinates-area {
      width: 100%;
      .container {
        min-width: 400px;
        padding: 0;
        .text-area > p {
          font-size: 1rem;
        }
      }
    }
    .form-area {
      height: 80vh;
      margin-bottom: 30px;
      form {
        width: 90%;
        grid-template-rows: auto auto auto auto;
        .form-part legend {
          font-size: 1.1rem;
        }
        .form-part-1 {
          flex-direction: column;
          #name,
          #email,
          #telephone {
            width: 80%;
            margin: 5px;
          }
        }
        .form-part-3 legend {
          padding-bottom: 20px;
        }
      }
    }
  }
}
