.intro-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        135deg,
        rgba(27, 41, 18, 1) 0%,
        rgba(12, 23, 22, 1) 28%,
        rgba(17, 17, 17, 1) 76%
    );
}

.intro-container {
    display: grid;
    grid-template-columns: 25% 75%;
    position: relative;
    height: 335px;
    width: 80%;
    max-width: 1500px;
    animation: scroll-scale linear forwards;
    animation-timeline: scroll();

    @keyframes scroll-scale {
        60% {
            opacity: 0;
        }
        100% {
            transform: scale(0);
            opacity: 0;
        }
    }

    &:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 0px;
        background-color: white;
        left: 25%;
        animation: drop 1s ease-in-out forwards;
        animation-delay: 0.2s;
    }
    @keyframes drop {
        100% {
            height: 338.67px;
        }
    }
}

.intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro-img img {
    border-radius: 20px;
    height: 100%;
    width: 250px;
    transform: translateX(200%);
    animation: imgslide 0.5s ease-out forwards;
    animation-delay: 0.5s;
}
@keyframes imgslide {
    100% {
        transform: translateX(0);
    }
}

.intro-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    overflow: hidden;
}

h1 {
    margin: 0 0 30px 0;
    font-family: montserrat;
    font-size: 3.4rem;
    text-shadow: 0 0 0 black;
    transform: translateX(-100%);
    animation: slide 0.5s ease-out forwards;
    animation-delay: 0.8s;
    padding-left: 40px;
}
h1 span {
    text-shadow: none;
    font-size: 4rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(
        90deg,
        rgb(148, 255, 163),
        rgb(169, 248, 255)
    );
    background-clip: text;
}

p {
    text-shadow: 0px 0px 20px #000000cb;
    font-size: 1.5rem;
    font-family: montserrat;
    margin: 0;
    padding-left: 40px;
}

.p1 {
    transform: translateX(-100%);
    animation: slide 0.5s ease-out forwards;
    animation-delay: 1.1s;
}

.p2 {
    color: rgb(179, 179, 179);
    font-style: italic;
    transform: translateX(-100%);
    animation: slide 0.5s ease-out forwards;
    animation-delay: 1.4s;
}
@keyframes slide {
    100% {
        transform: translateX(0);
    }
}
