#interests-area {
  height: 100vh;
  max-height: 1000px;
  max-width: 1700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10px;
  overflow: hidden;

  .interests-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img {
      transition: 0.3s ease;
      filter: brightness(1);
      height: 100%;
      width: auto;
      transform: translateX(-30%) scale(110%);
    }
    .area-text {
      font-size: 2rem;
      opacity: 0;
      color: $color2;
      transition: 0.3s ease;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      overflow-y: scroll;
      scrollbar-width: none;

      h3 {
        text-transform: uppercase;
      }

      p {
        text-align: left;
        margin: 30px;
        font-size: 1.3rem;
        line-height: 40px;
      }
    }
    &:hover {
      img {
        filter: brightness(0.5) blur(4px);
        transform: translateX(-30%) scale(105%);
      }
      .area-text {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    grid-template-columns: 100%;
    grid-template-rows: 100vh 100vh 100vh;
    height: auto;
    max-height: none;
    overflow: visible;
    .interests-container {
      height: auto;
      img {
        height: 100%;
        width: auto;
        filter: brightness(0.5) blur(4px);
        transform: translateX(0);
      }
      .area-text {
        opacity: 1;
        overflow: visible;
        h3 {
          font-size: 4rem;
        }
        p {
          line-height: 35px;
          font-size: 1.5rem;
          height: 70%;
          overflow-y: visible;
        }
      }
      &:hover {
        img {
          filter: brightness(0.5) blur(4px);
          transform: translateX(0);
        }
      }
    }
  }
  @media screen and (max-width: 650px) {
    width: 100%;
    margin: 0;
  }
}
