#interests-area {
  height: 100vh;
  overflow: hidden;
  background-color: var(--alt-color);
  display: flex;
  align-items: center;

  .interest-window {
    margin: 0 auto;
    height: calc(100vh - 40px);
    max-height: 1000px;
    border-radius: 30px;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;

    .interests-container {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      img {
        height: 100%;
        transition: 0.3s ease;
        filter: brightness(1);
        transform: translateX(-30%) scale(102%);
      }
      .area-text {
        font-size: 2rem;
        opacity: 0;
        color: var(--background-color);
        transition: 0.3s ease;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
        overflow-y: scroll;
        scrollbar-width: none;

        h3 {
          text-transform: uppercase;
        }

        p {
          text-align: left;
          margin: 30px;
          font-size: 1.1rem;
          line-height: 35px;
        }
      }
      &:hover {
        img {
          filter: brightness(0.5);
          transform: translateX(-30%) scale(100%);
        }
        .area-text {
          opacity: 1;
        }
      }
    }
  }
}

.join-background__interest-contact {
  height: 400px;
  background: url("../../images/join-background-4.svg") center/cover;
}

@media screen and (max-width: 1300px) {
  #interests-area {
    height: auto;
    .interest-window {
      grid-template-columns: 1fr;
      grid-template-rows: 100vh 100vh 100vh;
      height: auto;
      max-height: none;
      overflow: visible;
      .interests-container {
        height: auto;
        img {
          height: 100%;
          width: auto;
          filter: brightness(0.5) blur(4px);
          transform: translateX(-30%) scale(100%);
        }
        .area-text {
          opacity: 1;
          overflow: visible;
          h3 {
            font-size: 4rem;
          }
          p {
            line-height: 35px;
            font-size: 1.5rem;
            height: 70%;
            overflow-y: visible;
          }
        }
        &:hover {
          img {
            filter: brightness(0.5) blur(4px);
            transform: translateX(-30%) scale(100%);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  #interests-area {
    .interest-window {
      width: 100%;
      margin: 0;
    }
  }
}
