nav {
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  transition: 0.2s ease;
  border-bottom: 1px solid $color2;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.393);
  ul {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    li {
      position: relative;
      list-style: none;
      a {
        display: inline-block;
        color: $color2;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        transition: 0.3s;
        padding: 15px;
        z-index: 1;
        font-weight: 700;
        text-shadow: 0 0 10px black;
      }
      .bg-hover {
        position: absolute;
        top: 0;
        left: 0;
        height: 480%;
        width: 100%;
        transform: translateY(50%) translateX(-180%) rotateZ(45deg);
        border-left: 1px solid $color2;
        border-right: 1px solid $color2;
        transition: 0.2s;
        z-index: -1;
      }
    }
  }
  .network-logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    max-width: 200px;
    min-width: 150px;
    height: 100%;
    text-align: center;
    a {
      display: inline-block;
      padding: 10px 20px;
      font-size: 1.5rem;
      color: $color2;
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        color: #8b8b8b;
      }
    }
  }
  .burger-button {
    color: $color2;
    position: absolute;
    top: 10px;
    right: -60px;
    display: none;
    font-size: 3rem;
    text-shadow: 0 0 10px black;
    transition: 0.2s;
    &:hover {
      color: #8b8b8b;
    }
  }

  @media screen and (max-width: 1310px) {
    ul {
      max-width: 1000px;
      margin-left: 0;
    }
  }
  @media screen and (max-width: 1150px) {
    ul {
      margin-right: 150px;
    }
  }

  @media screen and (max-width: 564px) {
    li {
      overflow: hidden;
      .bg-hover {
        display: none;
      }
    }
  }
  @media screen and (max-width: 730px) {
    height: 100%;
    width: 50%;
    border-bottom: none;
    border-right: 1px solid $color2;
    transform: translateX(-100%);
    ul {
      width: 100%;
      height: 50%;
      li {
        width: 100%;
        text-align: center;
        a:hover {
          color: #8b8b8b;
        }
        .bg-hover {
          display: none;
        }
      }
    }
    .network-logo {
      height: 10%;
      width: 100%;
      left: 17%;
      top: 90%;
    }
    .burger-button {
      display: block;
    }
  }
}
