#skills-area {
  height: 100vh;
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;

  .skills-container {
    height: 100%;
    width: 100%;
    @include DisplayJustifyAlign;
    position: relative;
    .skills-bubble {
      color: $color1;
      background-color: $color2;
      height: 150px;
      width: 150px;
      border: 5px solid rgb(156, 156, 156);
      border-radius: 100px;
      @include DisplayJustifyAlign;
      text-transform: uppercase;
      transition: 0.2s ease;
      position: absolute;
      transform: rotateZ(calc(((var(--position) - 1) * 60) * 1deg))
        translateX(200px);
      .skills-bubble-container {
        transform: rotateZ(calc(((var(--position) - 1) * 60) * -1deg));
      }
      &:hover {
        transform: rotateZ(calc(((var(--position) - 1) * 60) * 1deg))
          translateX(200px) scale(110%);
        border-color: green;
      }
    }
  }
  .skills-bubble-img {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    img {
      object-fit: cover;
      height: 150px;
      width: 150px;
      border: 5px solid rgb(156, 156, 156);
      border-radius: 100px;
    }
  }
  .skills-text {
    @include DisplayJustifyAlign;
    .skills-text-container {
      @include DisplayJustifyAlign;
      flex-direction: column;
      height: 60%;
      width: 80%;
      max-width: 600px;
      background-color: $color2;
      border-radius: 40px;
      text-align: center;
      h3 {
        margin: 0;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 700;
        color: $color1;
      }
      p {
        font-weight: 500;
        text-align: justify;
        margin: 0 5%;
        font-size: 1.3rem;
      }
    }
  }
}
