#skills-area {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;

  .skills-container {
    height: 100%;
    width: 100%;
    @include DisplayJustifyAlign;
    position: relative;
    .skills-bubble {
      color: $color2;
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: blur(10px);
      font-size: 1.3rem;
      height: 150px;
      width: 150px;
      border: 1px solid rgb(156, 156, 156);
      border-radius: 100px;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.393);
      @include DisplayJustifyAlign;
      text-transform: uppercase;
      transition: 0.2s ease;
      position: absolute;
      transform: rotateZ(calc(((var(--position) - 1) * 60) * 1deg))
        translateX(230px);
      .skills-bubble-container {
        transform: rotateZ(calc(((var(--position) - 1) * 60) * -1deg));
      }
      &:hover {
        transform: rotateZ(calc(((var(--position) - 1) * 60) * 1deg))
          translateX(230px) scale(110%);
        border-color: green;
      }
    }
  }
  .skills-bubble-img {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    img {
      object-fit: cover;
      height: 250px;
      width: 250px;
      border: 1px solid rgb(156, 156, 156);
      border-radius: 200px;
      filter: brightness(0.8);
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.393);
    }
  }
  .skills-text-container {
    max-width: 500px;
    margin: 40px auto;
    border-radius: 20px;
    border: 1px solid $color2;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.393);
    h3 {
      text-align: center;
      margin: 20px 0 0 0;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 700;
      color: $color2;
    }
    p {
      font-weight: 400;
      text-align: left;
      line-height: 40px;
      font-size: 1.3rem;
      overflow-y: scroll;
      scrollbar-width: none;
      padding: 20px;
      color: $color2;
    }
  }
  @media screen and (max-width: 1400px) {
    .skills-text {
      width: 100%;
      .skills-text-container {
        height: 80%;
      }
    }
    .skills-container {
      margin: auto;
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .skills-bubble {
        position: static;
        transform: rotateZ(0) translateX(0);
        .skills-bubble-container {
          transform: rotateZ(0);
        }
        &:hover {
          transform: rotateZ(0) translateX(0) scale(110%);
        }
      }
    }
    .skills-bubble-img {
      display: none;
    }
  }
  @media screen and (max-width: 1200px) {
    height: auto;
    display: block;
    .skills-container {
      margin: 40px auto;
    }
    .skills-bubble-img {
      top: 35%;
      left: 50%;
    }
    .skills-text-container {
      margin: 0 20px;
      max-width: none;
      width: auto;
      h3 {
        font-size: 1.8rem;
      }
      p {
        margin: 0;
        line-height: 30px;
        height: 90%;
      }
    }
  }
  @media screen and (max-height: 770px) {
    .skills-text {
      .skills-text-container {
        height: auto;
        p {
          overflow-y: visible;
        }
      }
    }
  }
  @media screen and (max-width: 650px) {
    margin: 0;
    width: 100%;
    .skills-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .skills-bubble {
        position: static;
        transform: rotateZ(0) translateX(0);
        .skills-bubble-container {
          transform: rotateZ(0);
        }
        &:hover {
          transform: rotateZ(0) translateX(0) scale(110%);
          border-color: green;
        }
      }
    }
    .skills-bubble-img {
      display: none;
    }
  }
}
