#strengths-area {
  @include DisplayJustifyAlign;

  .strengths-container {
    margin: 60px 0;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
    border: 1px solid $color2;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.393);
    overflow: hidden;
    .strengths-headband {
      width: 100%;
      height: 80px;
      @include DisplayJustifyAlign;
      text-align: center;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.393);
      border-bottom: 1px solid $color2;
      h4 {
        @include DisplayJustifyAlign;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        font-size: 1rem;
        margin: 0;
        color: $color2;
      }
    }
    p {
      display: flex;
      justify-content: center;
      overflow-y: scroll;
      scrollbar-width: none;
      display: none;
      color: $color2;
      margin: 20px;
      text-align: left;
      font-size: 1.3rem;
      line-height: 35px;
    }
  }
  @media screen and (max-width: 1200px) {
    .strengths-headband {
      background: linear-gradient(90deg, rgb(17, 17, 17), rgb(66, 66, 66));
      width: 200px;
      height: 96.4%;
      top: 1.7%;
      left: 2%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      border: 1px solid $color2;
      border-right: none;
      border-radius: 20px 0 0 20px;
    }
    .strengths-container {
      height: 90%;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin: 20px 0;
      .strengths-item {
        width: 95%;
        border-top: 1px solid $color2;
        border-radius: 20px;

        p {
          margin: 20px 20px 20px 210px;
          width: 90%;
          line-height: 25px;
        }
      }
    }
  }
  @media screen and (max-width: 900px) {
    .strengths-headband {
      display: none;
      h4 {
        color: rgb(101, 101, 101);
        font-size: 2.7rem;
      }
    }
    .strengths-container {
      z-index: 2;
      .strengths-item {
        height: 450px;
        p {
          margin: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    .strengths-container {
      .strengths-headband {
        h4 {
          font-size: 1.9rem;
        }
      }
    }
  }
}
