#timeline-area {
  background-color: var(--link-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;

  .blackline-container {
    height: 115px;
    position: relative;
    display: flex;
    color: var(--background-color);

    .blackline-display {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      // grid-template-rows: 40px 1fr;
      grid-template-areas:
        "a b c d e f g"
        "h h h h h h h";
      margin-bottom: 20px;
      .blp {
        font-weight: 300;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 10px;
      }

      .blackline {
        border-radius: 30px;
        grid-area: h;
        background-color: var(--background-color);
        position: relative;
        display: flex;
        justify-content: space-around;

        .cutline {
          height: 80%;
          margin: auto;
          width: 3px;
          border-radius: 30px;
          background-color: var(--background-color);
          filter: brightness(0.8);
        }

        .position-dot {
          cursor: grab;
          position: absolute;
          top: 50%;
          left: 3%;
          transform: translateX(-50%) translateY(-50%);
          width: 50px;
          height: 25px;
          border-radius: 30px;
          transition: 0.2s ease;
          background: var(--text-color);
        }
      }
    }
  }

  .timeline-container {
    border-radius: 30px;
    height: 800px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    position: relative;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-bottom: 30px;

    .previous-area,
    .next-area {
      position: absolute;
      height: 100%;
      width: 100px;
      z-index: 2;
      transition: 0.2s ease;
      opacity: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;

      & > i {
        color: var(--background-color);
        opacity: 0.5;
        // background-color: rgb(255, 255, 255);
        // mix-blend-mode: screen;
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
      }
    }

    .previous-area {
      left: 0px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.39) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .next-area {
      right: 0px;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.39) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .timeline {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      position: relative;
      display: grid;
      grid-template-rows: 20% 65% 15%;

      .area-title {
        @include DisplayJustifyAlign;
        h3 {
          text-align: center;
          color: var(--background-color);
          font-size: 2.5rem;
          text-transform: uppercase;
          letter-spacing: 5px;
          margin: 0;
        }
      }

      .area-card-display {
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .card-container {
          background-color: var(--background-color);
          width: 100%;
          max-width: 1200px;
          height: fit-content;
          border-radius: 30px;

          .card-headband {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            .card-title {
              transition: 0.2s ease;
              color: var(--text-color);
              cursor: pointer;
              font-size: 1.3rem;
              text-transform: uppercase;
              margin: 0;
              padding: 15px 30px;
              border-radius: 30px;
              box-sizing: border-box;

              &:hover {
                color: var(--background-color);
                background-color: var(--text-color);
              }
            }

            .card-title-active {
              color: var(--background-color);
              background-color: var(--text-color);
            }
          }

          .card-text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: var(--text-color);
            height: fit-content;
            scrollbar-width: none;
            overflow-y: scroll;
            padding: 0 20px 30px;
            font-size: 1.1rem;
            line-height: 30px;
          }
        }
      }

      .area-button {
        width: 100%;
        @include DisplayJustifyAlign;
        a {
          @include DisplayJustifyAlign;
          height: 50px;
          width: 200px;
          background-color: var(--background-color);
          color: var(--text-color);
          border-radius: 30px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 700;
          transition: 0.2s ease;
          &:hover {
            background-color: var(--link-color);
            transform: scale(105%);
            color: var(--background-color);
          }
        }
      }
    }

    .eccl-area {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../images/Background-ECCL.webp) center/cover;
    }

    .north-east-area {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../images/Background-North-East.webp) center/cover;
      grid-template-rows: 15% 25% 60%;
      .north-east-text-area-container {
        text-align: center;
        margin: auto;
        width: 90%;
        color: var(--background-color);
        font-size: 1.5rem;
        .north-east-text-area {
          line-height: 40px;
        }
      }
      .north-east-img-area-container {
        @include DisplayJustifyAlign;

        img {
          filter: brightness(0.9);
          border-radius: 10px;
          height: 70%;
        }
      }
    }

    .alive-area {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../images/Background-ALIVE.webp) center/cover;
    }

    .ikea-area {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../images/Background-IKEA.webp) center/cover;
    }

    .bts-area {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../images/Background-BTS.webp) center/cover;
      .bts-area-title {
        h3 {
          font-size: 1.5rem;
        }
      }
    }

    .freelance-area {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../images/Background-Freelance.webp) center/cover;
    }

    .bac-area {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../images/Background-BAC.webp) center/cover;
    }
  }

  @media screen and (max-width: 1200px) {
    min-height: 100vh;
    height: fit-content;
    .blackline-container {
      display: none;
    }
    .timeline-container {
      min-height: 1000px;
      height: fit-content;
      margin-bottom: 0;

      .timeline {
        .area-title {
          h3 {
            margin: 50px 0 100px;
          }
        }

        min-height: 1000px;
        .area-card-display {
          margin-bottom: 100px;
          .card-container {
            .card-headband {
              text-align: center;
              flex-wrap: wrap;
            }
          }
        }
      }

      .north-east-area {
        .north-east-text-area-container {
          .north-east-text-area {
            font-size: 1.1rem;
            line-height: 30px;
          }
        }
        .north-east-img-area-container {
          display: none;
        }
      }

      .eccl-area {
        .eccl-area-title {
          h3 {
            font-size: 1.5rem;
          }
        }
      }

      .bac-area {
        .bac-area-title {
          h3 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.join-background__timeline-skills {
  height: 400px;
  background: url("../../images/join-background-2.svg") center/cover;
}
