#timeline-area {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 0.5fr 1fr;
  grid-template-areas:
    "a b"
    "a c"
    "a d"
    "a e"
    "a f"
    "a g"
    "a h";
  position: relative;
  background: $color2;
  overflow: hidden;

  .blackline-area {
    grid-area: a;
    @include DisplayJustifyAlign;
    height: 100vh;
    z-index: 3;
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;

    .position-dot {
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
      left: 19.4%;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background: rgb(225, 128, 17);
    }
    .blackline {
      height: 100vh;
      border-right: 3px solid $color1;
    }
    .blackline-display {
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .blp {
        transform: translateX(-1.5%);
        margin: 0;
        font-weight: 600;
        font-size: 1rem;
        .blsp {
          color: rgb(49, 49, 49);
          font-size: 1.8rem;
          display: inline-block;
          transform: translateX(-15px) translateY(3px) rotate(-90deg);
        }
      }
    }
  }
  .timelines {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 25% 50% 25%;

    .area-title {
      width: 100%;
      @include DisplayJustifyAlign;

      h3 {
        margin: auto;
        text-align: center;
        color: $color2;
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
    .area-card-display {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .card-container {
        margin: 0 auto;
        height: 100%;
        max-height: 400px;
        .card {
          @include DisplayJustifyAlign;
          background: $color3;
          position: relative;
          border-radius: 10px;
          background-color: $color2;
          box-shadow: 0px 0px 10px 0px;
          height: 100%;
          width: 350px;
          text-align: center;
          transform-style: preserve-3d;
          transition: all 0.5s ease;
          .card-front {
            width: 80%;
            font-size: 1.3rem;
            position: absolute;
            backface-visibility: hidden;
          }
          .card-back {
            font-size: 0.9rem;
            height: 90%;
            width: 80%;
            text-align: justify;
            overflow-y: scroll;
            scrollbar-width: none;
            position: absolute;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            font-weight: 600;
            p {
              -ms-overflow-style: none;
              scrollbar-width: none;
              margin: 0;
              width: 90%;
              &::-webkit-scrollbar {
                display: none;
              }
            }
          }
        }
        &:hover {
          .card {
            transform: rotateY(180deg) scale(120%);
          }
        }
      }
    }
    .area-button {
      width: 100%;
      @include DisplayJustifyAlign;
      a {
        @include DisplayJustifyAlign;
        height: 50px;
        width: 200px;
        background-color: $color2;
        color: $color1;
        border-radius: 8px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        transition: 0.3s;
        &:hover {
          background-color: $color1;
          transform: scale(110%);
          color: $color2;
        }
      }
    }
  }

  .eccl-area {
    grid-area: b;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(/assets/images/Background-ECCL.webp) center/cover;
  }

  .north-east-area {
    grid-area: c;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(/assets/images/Background\ North\ East.webp) center/cover;
  }

  .alive-area {
    grid-area: d;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(/assets/images/Background-ALIVE.webp) center/cover;
  }

  .ikea-area {
    grid-area: e;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(/assets/images/Background\ IKEA.webp) center/cover;
  }

  .bts-area {
    grid-area: f;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(/assets/images/Background-BTS.webp) center/cover;
    .bts-area-title {
      height: 30%;
      h3 {
        font-size: 1.5rem;
      }
    }
  }

  .freelance-area {
    grid-area: g;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(/assets/images/Background-Freelance.webp) center/cover;
    .freelance-area-title {
      height: 30%;
    }
  }

  .bac-area {
    grid-area: h;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(/assets/images/Background\ BAC.webp) center/cover;
  }
}

@media all and (max-width: 1290px) {
  .bac-area {
    h3 {
      font-size: 0.5rem;
    }
  }
}
