.timeline {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a b"
    "a c"
    "a d"
    "a e"
    "a f"
    "a g";
    position: relative;
    background: linear-gradient(
        360deg,
        rgb(238, 238, 238) 0%,
        rgb(223, 223, 223) 97%,
        rgba(170, 170, 170, 1) 100%
    );

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: rgb(89, 89, 89);
    }
}

.blackline-area {
    grid-area: a;

    .blackline {
        margin: 0 auto 0 22%;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, rgb(170, 170, 170) 0%, rgb(0, 0, 0) 5%, rgba(37,37,37,1) 100%);

        div {
            width: 100%;
            height: 100vh;
            position: relative;
    
            .blsp1 {
                font-size: 3rem;
                position: absolute;
                left: -26px;
                top: 50px;
                transform: rotate(-90deg);
            }
            .blsp2 {
                font-size: 3rem;
                position: absolute;
                left: -26px;
                bottom: 50px;
                transform: rotate(-90deg);
            }

            .blp1 {
                width: 200px;
                position: absolute;
                left: -10px;
                top: 70px;
                font-weight: 800;
                font-size: 1.1rem;
            }

            .blp2 {
                width: 200px;
                position: absolute;
                left: -10px;
                bottom: 70px;
                font-weight: 800;
                font-size: 1.1rem;
            }
        }
    }
}

.timeline-areas {
    height: 100vh;
    border: 1px solid red;
}

.eccl-area {
    grid-area: b;
}

.alive-area {
    grid-area: c;
}

.ikea-area {
    grid-area: d;
}

.freelance-area {
    grid-area: e;
}

.bts-area {
    grid-area: f;
}

.bac-area {
    position: relative;
    grid-area: g;

    .bac-pic {
        border: 10px solid rgb(97, 75, 55);
        max-width: 400px;
        transform: rotate(25deg);
        position: absolute;
        top: 200px;
        right: 200px;
    }

    .high-school-pic {
        border-radius: 20px;
        position: absolute;
        left: 100px;
        bottom: 120px;
        height: 250px;
    }
}