@font-face {
  font-family: montserrat;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: genos;
  src: url(/assets/fonts/Genos-VariableFont_wght.ttf);
}

@mixin DisplayJustifyAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --background-color: #f4f9e9;
  --text-color: #284b63;
  --link-color: #153243;
  --alt-color: #b4b8ab;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #81afb7;
  --link-color: #6385b9;
}

* {
  font-family: montserrat, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

#footer-area {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background-color: var(--background-color);
}

.btn-scroll-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
  z-index: 99;
  height: 80px;
  width: 80px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 600px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.096);
  text-decoration: none;
  color: var(--text-color);
  font-size: 2.5rem;
  background-color: var(--background-color);
  transition: 0.2s ease;
  border: 1px solid grey;

  &:hover {
    border: 1px solid transparent;
    color: var(--background-color);
    background-color: var(--link-color);
  }
}

@media screen and (max-width: 600px) {
  .btn-scroll-top {
    bottom: 20px;
    right: 20px;
  }
}
