@font-face {
  font-family: montserrat;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: genos;
  src: url(/assets/fonts/Genos-VariableFont_wght.ttf);
}

@mixin DisplayJustifyAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

$color1: rgb(17, 17, 17);
$color2: #dcdcdc;
$color3: linear-gradient(
  315deg,
  rgba(207, 207, 207, 0.8) 0%,
  rgba(242, 242, 242, 09) 15%,
  rgba(235, 232, 232, 0.8) 35%,
  rgba(215, 215, 215, 0.9) 50%,
  rgba(222, 222, 222, 0.8) 65%,
  rgba(242, 242, 242, 0.9) 85%,
  rgba(207, 207, 207, 0.8) 100%
);

* {
  font-family: montserrat, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
