@font-face {
  font-family: montserrat;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: genos;
  src: url(/assets/fonts/Genos-VariableFont_wght.ttf);
}
* {
  font-family: montserrat;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.intro-area {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-area .intro-container {
  display: grid;
  grid-template-columns: 25% 75%;
  min-height: 335px;
  width: 75%;
  max-width: 1500px;
}
.intro-area .intro-container .intro-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-x: hidden;
  margin-right: 20px;
}
.intro-area .intro-container .intro-img img {
  max-width: 100%;
  max-height: 100%;
  transform: translateX(200%);
  animation: imgslide 0.5s ease-out forwards;
  animation-delay: 1s;
  border-radius: 100px;
}
@keyframes imgslide {
  100% {
    transform: translateX(0);
  }
}
.intro-area .intro-container .intro-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  overflow: hidden;
  padding-left: 20px;
}
.intro-area .intro-container .intro-text h1 {
  margin: 0 0 30px 0;
  font-size: 3.4rem;
  text-shadow: 0 0 0 black;
  transform: translateX(-100%);
  animation: slide 0.5s ease-out forwards;
  animation-delay: 1.3s;
}
.intro-area .intro-container .intro-text h1 span {
  text-shadow: none;
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0);
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}
.intro-area .intro-container .intro-text p {
  font-size: 1.5rem;
  margin: 0;
}
.intro-area .intro-container .intro-text .p1 {
  transform: translateX(-110%);
  animation: slide 0.5s ease-out forwards;
  animation-delay: 1.6s;
}
.intro-area .intro-container .intro-text .p2 {
  color: rgb(179, 179, 179);
  font-style: italic;
  transform: translateX(-100%);
  animation: slide 0.5s ease-out forwards;
  animation-delay: 1.9s;
}
@keyframes slide {
  100% {
    transform: translateX(0);
  }
}
.intro-area .intro-container .intro-text:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0px;
  background-color: white;
  animation: drop 1s ease-in-out forwards;
  animation-delay: 0.2s;
}
@keyframes drop {
  100% {
    height: 100%;
  }
}

.beam-display {
  z-index: -1;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #0d0c14;
  scroll-snap-align: start;
}

.beam {
  position: absolute;
  top: var(--beamt);
  left: var(--beaml);
  border: 20px solid rgba(0, 0, 0, 0.696);
  border-radius: 10000px;
  animation: beamanim 5s ease-in-out forwards;
  transform: translateX(-50%) translateY(-50%);
  width: 0px;
  height: 0px;
}

@keyframes beamanim {
  0% {
    opacity: 0;
    border: 0px solid rgba(0, 0, 0, 0.696);
  }
  20% {
    opacity: 0.3;
  }
  100% {
    width: 1500px;
    height: 1500px;
    border: 100px solid rgba(0, 0, 0, 0.696);
    opacity: 0;
  }
}
.career-cards-area {
  z-index: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
.career-cards-area .career-cards-area-title {
  margin-bottom: 50px;
}
.career-cards-area .career-cards-area-title h2 {
  color: whitesmoke;
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.career-cards-area .card-display {
  display: flex;
  justify-content: center;
  max-width: 900px;
  height: 60%;
  gap: 20px;
}
.career-cards-area .card-display .box {
  border-radius: 20px;
  box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.05);
  height: 100%;
  width: 110px;
  position: relative;
  transition: 0.3s ease;
}
.career-cards-area .card-display .box:hover .year {
  opacity: 1;
  transform: translateY(-50px);
}
.career-cards-area .card-display .box:hover .hback {
  opacity: 0.5;
}
.career-cards-area .card-display .box2017 {
  background: url(/assets/images/Freelance\ Lucas.jpg) center/cover;
}
.career-cards-area .card-display .box2019 {
  background: url(/assets/images/Logo\ Ikea.jpg) center/cover;
}
.career-cards-area .card-display .box2021 {
  background: url(/assets/images/Logo\ Alive.jpg) center/cover;
}
.career-cards-area .card-display .box2023 {
  background: url(/assets/images/Logo\ ECCL.jpg) center/cover;
}
.career-cards-area .card-display .hback {
  width: 110px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 32%, rgb(0, 0, 0) 100%);
  opacity: 0;
  transition: 0.3s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
}
.career-cards-area .card-display .year,
.career-cards-area .card-display .title {
  height: 23px;
  margin: 0;
  width: 110px;
  text-align: center;
  position: absolute;
  bottom: 0;
  transition: 0.3s ease;
  font-family: montserrat;
  color: rgb(220, 220, 220);
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(0px);
}
.career-cards-area .card-display .title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 800;
  width: 95%;
  text-align: right;
}
.career-cards-area .card-display .input {
  display: none;
}
.career-cards-area .card-display .input:checked + label .box {
  width: 600px;
}
.career-cards-area .card-display .input:checked + label .hback {
  opacity: 0.5;
  width: 600px;
}
.career-cards-area .card-display .input:checked + label .year {
  width: 110px;
}
.career-cards-area .card-display .input:checked + label .year,
.career-cards-area .card-display .input:checked + label .title {
  opacity: 1;
  transform: translateY(-50px);
}

.timeline-area {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 0.5fr 1fr;
  grid-template-areas: "a b" "a c" "a d" "a e" "a f" "a g" "a h";
  position: relative;
  background: linear-gradient(360deg, rgb(238, 238, 238) 0%, rgb(223, 223, 223) 97%, rgb(170, 170, 170) 100%);
  border-radius: 50px;
  overflow: hidden;
}
.timeline-area .blackline-area {
  grid-area: a;
  z-index: 5;
  height: 100vh;
  display: flex;
  position: relative;
}
.timeline-area .blackline-area .position-dot {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 20.2%;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgb(225, 128, 17);
}
.timeline-area .blackline-area .blackline {
  margin: 0 auto 0 20%;
  width: 3px;
  height: 100vh;
  background: rgb(8, 8, 8);
}
.timeline-area .blackline-area .blackline-display {
  height: 90%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.timeline-area .blackline-area .blackline-display .blp {
  margin: 0;
  font-weight: 600;
  font-size: 0.9rem;
}
.timeline-area .blackline-area .blackline-display .blp .blsp {
  color: rgb(49, 49, 49);
  font-size: 1.5rem;
  display: inline-block;
  transform: translateX(-15px) translateY(3px) rotate(-90deg);
}
.timeline-area .timelines {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.timeline-area .timelines .area-title {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-area .timelines .area-title h3 {
  text-align: center;
  color: whitesmoke;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.timeline-area .timelines .area-card-display {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.timeline-area .timelines .area-card-display .card-container {
  height: 100%;
  max-height: 400px;
}
.timeline-area .timelines .area-card-display .card-container .card {
  position: relative;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px 0px;
  height: 100%;
  width: 250px;
  text-align: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-area .timelines .area-card-display .card-container .card .card-front {
  position: absolute;
  backface-visibility: hidden;
}
.timeline-area .timelines .area-card-display .card-container .card .card-back {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.timeline-area .timelines .area-card-display .card-container:hover .card {
  transform: rotateY(180deg) scale(120%);
}
.timeline-area .timelines .area-button {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-area .timelines .area-button button {
  height: 50px;
  width: 200px;
  outline-style: none;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}
.timeline-area .timelines .area-button button a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.timeline-area .timelines .area-button button:hover {
  background-color: black;
  transform: scale(110%);
}
.timeline-area .timelines .area-button button:hover a {
  color: whitesmoke;
}
.timeline-area .eccl-area {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/assets/images/Background\ ECCL.jpg) center/cover;
  grid-area: b;
}
.timeline-area .north-east-area {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/assets/images/Background\ North\ East.jpg) center/cover;
  grid-area: c;
}
.timeline-area .alive-area {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/assets/images/Background\ ALIVE.jpg) center/cover;
  grid-area: d;
}
.timeline-area .ikea-area {
  grid-area: e;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/assets/images/Background\ IKEA.jpg) center/cover;
}
.timeline-area .bts-area {
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/assets/images/Background\ BTS.jpg) center/cover;
  grid-area: f;
}
.timeline-area .bts-area .bts-area-title {
  height: 30%;
}
.timeline-area .bts-area .bts-area-title h3 {
  font-size: 1.5rem;
}
.timeline-area .freelance-area {
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/assets/images/Background\ Freelance\ 1.JPG) center/cover;
  grid-area: g;
}
.timeline-area .freelance-area .freelance-area-title {
  height: 30%;
}
.timeline-area .bac-area {
  position: relative;
  grid-area: h;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/assets/images/Background\ BAC.png) center/cover;
}
.timeline-area .bac-area .bac-pic {
  border: 5px solid rgb(97, 75, 55);
  max-width: 270px;
  position: absolute;
  bottom: 4%;
  right: 12%;
}

.skills-area {
  height: 100vh;
  background-color: rgba(255, 0, 0, 0);
}

.strengths-area {
  height: 100vh;
  background-color: rgb(241, 241, 241);
  border-radius: 50px 50px 0 0;
}

.interests-area {
  height: 100vh;
  background-color: rgba(255, 0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  border-radius: 0 0 50px 50px;
}
.interests-area .interests-container {
  position: relative;
  overflow: hidden;
}
.interests-area .interests-container img {
  transition: 0.5s ease;
  filter: brightness(1);
  height: 100%;
  transform: translateX(-30%) scale(110%);
}
.interests-area .interests-container .area-text {
  text-transform: uppercase;
  font-size: 2rem;
  opacity: 0;
  color: whitesmoke;
  transition: 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
.interests-area .interests-container:hover img {
  filter: brightness(0.5) blur(4px);
  transform: translateX(-30%) scale(100%);
}
.interests-area .interests-container:hover .area-text {
  opacity: 1;
}

.contact-area {
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-area .contact-container {
  height: 70%;
  max-height: 600px;
  width: 80%;
  max-width: 1100px;
  background-color: whitesmoke;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 80%;
  grid-template-areas: "a b" "c c";
  overflow: hidden;
}
.contact-area .contact-container .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-area .contact-container .container .text-area {
  display: grid;
  grid-template-columns: 10% 90%;
  width: 85%;
  border-radius: 40px;
  color: white;
  background: #0d0c14;
  font-size: 1.7rem;
}
.contact-area .contact-container .container .text-area .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0d0c14;
  border-radius: 30px;
  margin: 10px;
  background-color: whitesmoke;
  height: 50px;
  width: 50px;
}
.contact-area .contact-container .container .text-area p {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-area .contact-container .telephone-container {
  grid-area: a;
}
.contact-area .contact-container .telephone-container p {
  letter-spacing: 2px;
}
.contact-area .contact-container .email-container {
  grid-area: b;
}
.contact-area .contact-container .form-container {
  grid-area: c;
  background-color: green;
}/*# sourceMappingURL=index.css.map */